table{
    border-collapse: collapse;
}
td{
    width: 100px;
    height: 60px;
}
td[colspan="4"]{
    border-bottom: none;
}
td[rowspan="3"]{
    border-top: none;
    border-right: none;
}
td[colspan="3"]{
    border-left: none;
    border-top: none;
}
td[rowspan="1"]{
    border-top: none;
    border-bottom: none;
}
